services:
  - type: web
    name: godlykids-backend
    env: node
    region: oregon
    plan: free
    rootDir: backend
    nodeVersion: 20.x
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: PORT
        value: 5001
      - key: ELEVENLABS_API_KEY
        sync: false
      - key: GCS_BUCKET_NAME
        sync: false
      - key: GOOGLE_APPLICATION_CREDENTIALS
        sync: false
